:root {
    --primary-color: rgb(17, 138, 188);
    --primary-color-filter: rgba(17, 138, 188, 0.85);
    --secondary-color: rgb(107, 77, 168);
    --secondary-color-filter: rgba(107, 77, 168, 0.85);
}

.fade-in {
    opacity: 0;
}

/* Header */
#header {
    width: 100%;
    height: auto;
    padding: 10%;
    background:
        linear-gradient(to right, rgba(107, 77, 168, 0.7), rgba(17, 138, 188, 0.7)),
        url(../img/higgins.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: table;
}
